{{define "title"}}OBS Alert{{end}}

{{define "main"}}
{{with .Form}}
<audio src="/static/coin.mp3" autoplay="autoplay"></audio>
<div id="alert-image-wrap">
  <div id="alert-image">
     <img src=/static/bch-animation.gif>
  </div>
</div>
<div id="alert-text-wrap">
  <div id="alert-text">
     <div id="alert-message">
        <b>{{.Name}}</b> sent <b>{{if .IsHidden}}???{{else}}{{.Amount}}{{end}} BCH</b>
     </div>
    <div id="alert-user-message">{{.Message}}</div>
  </div>
</div>
{{end}}
{{end}}
