{{define "title"}}Home{{end}}

{{define "main"}}
{{template "title-box" .}}

<h3>Welcome to superbchat!</h3>
<p>To create a superbchat complete the following fields. If you already created a superbchat just go to <a href="https://superbchat.cash/exampleUser">superbchat.cash/exampleUser</a> replacing <strong>exampleUser</strong> with the user name you created</p>
<p>To access your recived messages go to <a href="https://superbchat.cash/view">superbchat.cash/view</a> with your credentials</p>
<p>Add a Browser source in OBS and point it to <a href="https://superbchat.cash/alert?usr=exampleUser&auth=exaplePassword">superbchat.cash/alert?usr=exampleUser&auth=exaplePassword</a> replacing <strong>exampleUser</strong> and <strong>exaplePassword</strong> with your corresponding credentials</p>

<a class="user-button" href="/user/login">Log In</a></div>
<a class="user-button" href="/user/signup">Sign Up</a>
{{end}}
