{{define "title"}}Home{{end}}

{{define "main"}}
{{template "title-box" .}}

<h3>Welcome to superbchat!</h3>
<p>Use this web app to receive superchats in your stream.</p>
<p>Sign up to create your superbchat and start receiving donations, or Log in to access your received messages and get your alert URL to set up in OBS</p>
<p>You can check the source code <a href="https://github.com/vulkan0n/superbchat">Here</a>.</p>

<a class="user-button" href="/user/login">Log In</a>
<a class="user-button" href="/user/signup">Sign Up</a>
{{end}}
