{{define "title"}}Home{{end}}

{{define "main"}}
{{template "title-box" .}}
<div class="view-buttons-box">
    <a class="user-button" href="user/settings">Settings</a>
    <form id="logout-form" action="user/logout" method="POST">
        <button class="user-button">Logout</button>
    </form><br>
    <a class="user-button superbchat-button" href={{.Form.SuperbchatURL}} target="_blank" rel="noopener noreferrer">
        <img src=/static/bitcoin-cash-bch-logo.svg> Go to your Superbchat</a><br>
</div>


<div class="alert-url-box">
    <label for="alert-url">Widget URL:</label>
    <small><label for="obs">(Use the URL below in OBS Studio, don't share URL)</label></small>
    <input type="text" id="alert-url" name="alert-url" value={{.Form.AlertURL}} readonly><br>
</div>

<label for="superchats">Superchats:</label><br>
{{range .Superchats}}
<blockquote>
    <h3 class="superchat-header"><b>{{.Name}}</b> sent <b>{{.Amount}}</b>{{if .IsHidden}} (hidden){{end}} BCH:</h3>
    <p class="superchat-msg">{{.Message}}</p>
</blockquote>
{{else}}
<blockquote>No superbchats received yet!</blockquote>
{{end}}
{{end}}
