{{define "base"}}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Superbchat {{template "title" .}}</title>
    {{with .CustomStyle}}
    <link href=/static/{{.}} rel=stylesheet>
    {{else}}
    <link href=/static/bitcoin-cash-bch-logo.svg rel=icon>
    <link href=/static/style.css rel=stylesheet>
    {{end}}
    {{if .Autorefresh}}
    <meta http-equiv="Refresh" content="5">
    {{end}}
</head>

<body>
    <main>
        {{with .Flash}}
        <div class="flash">{{.}}</div>
        {{end}}
        {{template "main" .}}
    </main>
</body>
</html>
{{end}}
