<!DOCTYPE html>

<html lang="en">
<head>
    <title>Superbchat</title>
    <link href=style/bitcoin-cash-bch-logo.svg rel=icon>
    <link href=style/style.css rel=stylesheet>
</head>

<body>
    <div id="title-box">
        <h2>Super<label id="bch-title">BCH</label>at</h2>
    </div>
    <h3>Welcome to superbchat!</h3>
    <p>To create a superbchat complete the following fields. If you already created a superbchat just go to <a href="https://superbchat.cash/exampleUser">superbchat.cash/exampleUser</a> replacing <strong>exampleUser</strong> with the user name you created</p>
    <p>To access your recived messages go to <a href="https://superbchat.cash/view">superbchat.cash/view</a> with your credentials</p>
    <p>Add a Browser source in OBS and point it to <a href="https://superbchat.cash/alert?usr=exampleUser&auth=exaplePassword">superbchat.cash/alert?usr=exampleUser&auth=exaplePassword</a> replacing <strong>exampleUser</strong> and <strong>exaplePassword</strong> with your corresponding credentials</p>

    <form action="/create" method="POST">
    <label for="user">User:   </label>
    <b {{if not .InvalidUser}} hidden {{end}}>Username already taken!</b><br>
    <input id="user" maxlength="25" name="user" type="text" value="{{.User}}"><br>
    <label for="password">Password:</label>
    <input id="password" maxlength="25" name="password" type="password" value="{{.Password}}"><br>
    <label for="repeated-password">Repeat Password:</label>
    <b {{if not .PasswordDontMatch}} hidden {{end}}>Password doesn't match</b><br>
    <input id="repeated-password" maxlength="25" name="repeated-password" type="password" value="{{.RepeatedPassword}}"><br>
    <label for="address">Address to receive funds:</label>
    <b {{if not .InvalidAddressFormat}} hidden {{end}}>Invalid address format</b><br>
    <input id="address" maxlength="54" name="address" type="text" value="{{.Address}}" placeholder="bitcoincash:"><br>
    <button id="submit" type="submit"><img src=style/bitcoin-cash-bch-logo.svg> Create</button>
    </form>
</body>

</html>
